{
  "openapi": "3.1.0",
  "info": {
    "title": "Formo API",
    "version": "1.0.0",
    "description": "API for event tracking, querying data, managing wallet profiles, alerts, boards, contracts, segments, and AI chat",
    "contact": {
      "name": "Formo",
      "url": "https://formo.so"
    }
  },
  "servers": [
    {
      "url": "https://events.formo.so",
      "description": "Events API (separate service)"
    },
    {
      "url": "https://api.formo.so",
      "description": "Query, Profiles, and Management APIs"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authentication. Use an SDK Write Key for the Events API, or a Workspace API Key (e.g. `formo_xxx`) for all other APIs. Create keys in the Formo dashboard under Team Settings > API Keys."
      }
    },
    "schemas": {
      "EventContext": {
        "type": "object",
        "description": "Contextual information about the event",
        "properties": {
          "user_agent": {
            "type": "string",
            "description": "The user agent of the device"
          },
          "locale": {
            "type": "string",
            "description": "Language of the device (e.g., en-US, en-GB)"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone of the user (e.g., America/New_York)"
          },
          "location": {
            "type": "string",
            "description": "Geographic location country code (e.g., US, NG)"
          },
          "ref": {
            "type": "string",
            "description": "Referral code or identifier"
          },
          "referrer": {
            "type": "string",
            "description": "The referrer URL where the user came from"
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign parameter"
          },
          "utm_content": {
            "type": "string",
            "description": "UTM content parameter"
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium parameter"
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source parameter"
          },
          "utm_term": {
            "type": "string",
            "description": "UTM term parameter"
          },
          "page_title": {
            "type": "string",
            "description": "Title of the current page"
          },
          "page_url": {
            "type": "string",
            "description": "Full URL of the current page"
          },
          "library_name": {
            "type": "string",
            "description": "Name of the SDK used (e.g., Formo Web SDK)"
          },
          "library_version": {
            "type": "string",
            "description": "Version of the SDK used"
          },
          "browser": {
            "type": "string",
            "description": "Name of the browser (e.g., chrome, firefox, safari)"
          },
          "screen_width": {
            "type": "integer",
            "description": "Width of the device screen in pixels"
          },
          "screen_height": {
            "type": "integer",
            "description": "Height of the device screen in pixels"
          },
          "screen_density": {
            "type": "number",
            "description": "Pixel density of the device screen (devicePixelRatio)"
          },
          "viewport_width": {
            "type": "integer",
            "description": "Width of the browser viewport in pixels"
          },
          "viewport_height": {
            "type": "integer",
            "description": "Height of the browser viewport in pixels"
          }
        }
      },
      "EventProperties": {
        "type": "object",
        "description": "Event-specific properties. Can contain any key-value pairs relevant to the event.",
        "additionalProperties": true
      },
      "Event": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "identify",
              "track",
              "page",
              "connect",
              "disconnect",
              "detect",
              "chain",
              "signature",
              "transaction"
            ],
            "description": "Type of the event"
          },
          "channel": {
            "type": "string",
            "enum": [
              "web",
              "mobile",
              "server"
            ],
            "description": "Channel/source of the event"
          },
          "version": {
            "type": "string",
            "description": "Event spec version"
          },
          "anonymous_id": {
            "type": "string",
            "description": "Pseudo-identifier for the user (device ID)"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "description": "Unique user identifier"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Wallet address"
          },
          "event": {
            "type": "string",
            "description": "Name of the event (for track events)"
          },
          "context": {
            "$ref": "#/components/schemas/EventContext"
          },
          "properties": {
            "$ref": "#/components/schemas/EventProperties"
          },
          "original_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time when the event occurred on the client"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time when the event was sent from the client"
          },
          "message_id": {
            "type": "string",
            "description": "Unique identifier for the event"
          }
        }
      },
      "WalletLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Label ID"
          },
          "value": {
            "type": "string",
            "description": "Label value"
          },
          "chain_id": {
            "type": "string",
            "description": "Chain ID where label applies"
          },
          "source": {
            "type": "string",
            "description": "Label source (e.g., manual, automated)"
          }
        }
      },
      "WalletChain": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string",
            "description": "Chain ID"
          },
          "net_worth_usd": {
            "type": "number",
            "description": "Net worth on this chain"
          },
          "tx_count": {
            "type": "integer",
            "description": "Transaction count on this chain"
          },
          "first_onchain": {
            "type": "string",
            "format": "date-time",
            "description": "First activity on this chain"
          },
          "last_onchain": {
            "type": "string",
            "format": "date-time",
            "description": "Last activity on this chain"
          }
        }
      },
      "WalletApp": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string",
            "description": "Chain ID"
          },
          "id": {
            "type": "string",
            "description": "App ID"
          },
          "name": {
            "type": "string",
            "description": "App name"
          },
          "img": {
            "type": "string",
            "nullable": true,
            "description": "App image URL"
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "App URL"
          },
          "balance_usd": {
            "type": "number",
            "description": "Balance in USD for this app"
          }
        }
      },
      "WalletToken": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string",
            "description": "Chain ID"
          },
          "token_address": {
            "type": "string",
            "description": "Token contract address"
          },
          "app_id": {
            "type": "string",
            "description": "App ID"
          },
          "name": {
            "type": "string",
            "description": "Token name"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          },
          "img": {
            "type": "string",
            "nullable": true,
            "description": "Token image URL"
          },
          "decimals": {
            "type": "integer",
            "description": "Token decimals"
          },
          "price": {
            "type": "number",
            "description": "Token price in USD"
          },
          "balance": {
            "type": "string",
            "description": "Token balance (as string to preserve precision)"
          },
          "balance_usd": {
            "type": "number",
            "description": "Token balance value in USD"
          }
        }
      },
      "WalletProfile": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The wallet address"
          },
          "net_worth_usd": {
            "type": "number",
            "description": "Total net worth in USD"
          },
          "ens": {
            "type": "string",
            "nullable": true,
            "description": "ENS name"
          },
          "farcaster": {
            "type": "string",
            "nullable": true,
            "description": "Farcaster username"
          },
          "lens": {
            "type": "string",
            "nullable": true,
            "description": "Lens handle"
          },
          "basenames": {
            "type": "string",
            "nullable": true,
            "description": "Base names"
          },
          "linea": {
            "type": "string",
            "nullable": true,
            "description": "Linea identifier"
          },
          "discord": {
            "type": "string",
            "nullable": true,
            "description": "Discord username"
          },
          "telegram": {
            "type": "string",
            "nullable": true,
            "description": "Telegram username"
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Website URL"
          },
          "github": {
            "type": "string",
            "nullable": true,
            "description": "GitHub username"
          },
          "twitter": {
            "type": "string",
            "nullable": true,
            "description": "Twitter/X handle"
          },
          "linkedin": {
            "type": "string",
            "nullable": true,
            "description": "LinkedIn profile"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email address"
          },
          "instagram": {
            "type": "string",
            "nullable": true,
            "description": "Instagram handle"
          },
          "facebook": {
            "type": "string",
            "nullable": true,
            "description": "Facebook profile"
          },
          "tiktok": {
            "type": "string",
            "nullable": true,
            "description": "TikTok handle"
          },
          "youtube": {
            "type": "string",
            "nullable": true,
            "description": "YouTube channel"
          },
          "reddit": {
            "type": "string",
            "nullable": true,
            "description": "Reddit username"
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "description": "Avatar image URL"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Profile description"
          },
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "Display name"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last update timestamp (ISO 8601)"
          },
          "tx_count": {
            "type": "integer",
            "description": "Total transaction count"
          },
          "first_onchain": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "First on-chain activity timestamp (ISO 8601)"
          },
          "last_onchain": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last on-chain activity timestamp (ISO 8601)"
          },
          "first_seen": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "First seen timestamp (ISO 8601). Engagement fields (first_seen through activity_dates) are omitted entirely when no tracked data exists for the profile."
          },
          "last_seen": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last seen timestamp (ISO 8601)"
          },
          "first_utm_source": {
            "type": "string",
            "nullable": true,
            "description": "First UTM source"
          },
          "last_utm_source": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM source"
          },
          "first_utm_medium": {
            "type": "string",
            "nullable": true,
            "description": "First UTM medium"
          },
          "last_utm_medium": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM medium"
          },
          "first_utm_campaign": {
            "type": "string",
            "nullable": true,
            "description": "First UTM campaign"
          },
          "last_utm_campaign": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM campaign"
          },
          "first_utm_content": {
            "type": "string",
            "nullable": true,
            "description": "First UTM content"
          },
          "last_utm_content": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM content"
          },
          "first_utm_term": {
            "type": "string",
            "nullable": true,
            "description": "First UTM term"
          },
          "last_utm_term": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM term"
          },
          "first_referrer": {
            "type": "string",
            "nullable": true,
            "description": "First referrer domain"
          },
          "last_referrer": {
            "type": "string",
            "nullable": true,
            "description": "Last referrer domain"
          },
          "first_referrer_url": {
            "type": "string",
            "nullable": true,
            "description": "First referrer full URL"
          },
          "last_referrer_url": {
            "type": "string",
            "nullable": true,
            "description": "Last referrer full URL"
          },
          "first_ref": {
            "type": "string",
            "nullable": true,
            "description": "First referral code"
          },
          "last_ref": {
            "type": "string",
            "nullable": true,
            "description": "Last referral code"
          },
          "location": {
            "type": "string",
            "nullable": true,
            "description": "User location"
          },
          "device": {
            "type": "string",
            "nullable": true,
            "description": "Device type"
          },
          "browser": {
            "type": "string",
            "nullable": true,
            "description": "Browser name"
          },
          "os": {
            "type": "string",
            "nullable": true,
            "description": "Operating system"
          },
          "last_type": {
            "type": "string",
            "nullable": true,
            "description": "Last event type"
          },
          "last_event": {
            "type": "string",
            "nullable": true,
            "description": "Last event name"
          },
          "last_properties": {
            "type": "string",
            "nullable": true,
            "description": "Last event properties (JSON string)"
          },
          "num_sessions": {
            "type": "integer",
            "nullable": true,
            "description": "Total number of sessions"
          },
          "revenue": {
            "type": "number",
            "nullable": true,
            "description": "Total revenue"
          },
          "volume": {
            "type": "number",
            "nullable": true,
            "description": "Total volume"
          },
          "points": {
            "type": "number",
            "nullable": true,
            "description": "Total points"
          },
          "activity_dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "nullable": true,
            "description": "Array of activity dates (YYYY-MM-DD format)"
          },
          "lifecycle": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Churned",
              "New",
              "Power user",
              "Resurrected",
              "Returning"
            ],
            "description": "User lifecycle stage based on activity patterns. Only returned by the Search Profiles endpoint."
          },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletChain"
            },
            "nullable": true,
            "description": "Array of per-chain wallet data (only included when expand=chains)"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletLabel"
            },
            "nullable": true,
            "description": "Array of wallet labels (only included when expand=labels)"
          },
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletApp"
            },
            "nullable": true,
            "description": "Array of wallet apps (only included when expand=apps)"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletToken"
            },
            "nullable": true,
            "description": "Array of wallet tokens (only included when expand=tokens)"
          }
        }
      },
      "ProfileResponse": {
        "$ref": "#/components/schemas/WalletProfile"
      },
      "SearchProfileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletProfile"
            },
            "description": "Array of wallet profiles matching the search criteria"
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total number of profiles matching the criteria (before pagination)"
              },
              "limit": {
                "type": "integer",
                "description": "Maximum number of profiles returned in this response"
              },
              "offset": {
                "type": "integer",
                "description": "Number of profiles skipped (for pagination)"
              }
            },
            "required": [
              "total",
              "limit",
              "offset"
            ]
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "PerformSqlQueryPublicResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Rows returned by the SQL query"
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total rows available"
              },
              "limit": {
                "type": "integer",
                "description": "Limit inferred from the query"
              },
              "offset": {
                "type": "integer",
                "description": "Offset inferred from the query"
              }
            },
            "required": [
              "total",
              "limit",
              "offset"
            ]
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "RestApiErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ErrorWithCode": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "INTERNAL_SERVER_ERROR"
            ]
          }
        },
        "required": [
          "isSuccess",
          "message",
          "code"
        ]
      },
      "FilterCondition": {
        "type": "object",
        "description": "A single filter condition for the profile search",
        "properties": {
          "field": {
            "type": "string",
            "description": "The field path to filter on. Supported formats:\n- User fields: `users.{attribute}` (e.g., `users.net_worth_usd`, `users.device`, `users.lifecycle`)\n- Social fields: `users.{social}` (e.g., `users.ens`, `users.farcaster`)\n- Chain filters: `chains.balance` (any chain) or `chains.{chain_id}.balance` (specific chain)\n- App filters: `apps.{app_id}.balance` (any chain) or `apps.{chain_id}.{app_id}.balance` (specific chain)\n- Token filters: `tokens.{address}.balance` (any chain) or `tokens.{chain_id}.{address}.balance` (specific chain)\n- Label filters: `labels.{tag_id}` (e.g., `labels.coinbase.verified_account`)"
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "gte",
              "lt",
              "lte",
              "in",
              "nin"
            ],
            "description": "The comparison operator:\n- `eq`: Equals\n- `neq`: Not equals\n- `gt`: Greater than\n- `gte`: Greater than or equal\n- `lt`: Less than\n- `lte`: Less than or equal\n- `in`: Value is in array\n- `nin`: Value is not in array"
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              }
            ],
            "description": "The value to compare against. Use arrays for `in` and `nin` operators."
          },
          "scope": {
            "type": "string",
            "enum": [
              "any",
              "protocol"
            ],
            "description": "Only for token filters. `any` (default) matches holdings in wallet or any protocol. `protocol` matches only tokens deposited in DeFi protocols (use with `appId` to target a specific protocol)."
          },
          "appId": {
            "type": "string",
            "description": "Only for token filters with `scope: \"protocol\"`. The DeFi protocol ID to filter by (e.g., `aave-v3`, `compound-v3`, `uniswap-v3`, `lido`)."
          }
        },
        "required": [
          "field",
          "op",
          "value"
        ]
      },
      "ProfileFilter": {
        "type": "object",
        "description": "Filter configuration for searching wallet profiles",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterCondition"
            },
            "description": "Array of filter conditions to apply"
          },
          "logic": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ],
            "default": "and",
            "description": "How to combine multiple conditions: `and` (all must match) or `or` (any must match)"
          }
        }
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "isSuccess"
        ]
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "trigger_type": {
            "type": "string",
            "enum": [
              "event",
              "user"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "trigger_filters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "operator": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "numericThreshold": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "recipient": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "email",
                    "slack",
                    "webhook"
                  ]
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "type",
                "value"
              ]
            }
          },
          "project_id": {
            "type": "string"
          },
          "has_secret": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "trigger_type",
          "status",
          "project_id"
        ]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "project_id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the board is publicly accessible"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "project_id",
          "enabled"
        ]
      },
      "Chart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "query": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "board_id": {
            "type": "string"
          },
          "x_axis": {
            "type": "string",
            "nullable": true
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "group_by": {
            "type": "string",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "nullable": true
          }
        },
        "required": [
          "id",
          "chart_type",
          "title",
          "query"
        ]
      },
      "Contract": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "chain": {
            "type": "integer"
          },
          "address": {
            "type": "string"
          },
          "start_block": {
            "type": "integer"
          },
          "abi": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "anonymous": {
                  "type": "boolean"
                },
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "anonymous",
                "inputs",
                "name",
                "type"
              ]
            }
          }
        },
        "required": [
          "name",
          "chain",
          "address",
          "abi",
          "events"
        ]
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "filterSet": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "title"
        ]
      },
      "Profile": {
        "type": "object",
        "description": "Wallet profile data"
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system"
            ]
          },
          "content": {
            "type": "string"
          },
          "parts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "id",
          "role"
        ]
      }
    }
  },
  "paths": {
    "/v0/raw_events": {
      "post": {
        "summary": "Track Event",
        "description": "Sends an event to the Formo Events API. Use the SDK Write Key from your project settings as the Bearer token for authentication.",
        "operationId": "trackEvent",
        "tags": [
          "Events API"
        ],
        "servers": [
          {
            "url": "https://events.formo.so",
            "description": "Events API"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              },
              "example": {
                "type": "page",
                "channel": "web",
                "version": "0",
                "anonymous_id": "c2bc0ebe-d852-49d1-9efd-e45744850ae0",
                "user_id": "a46e6878-1ed5-4a81-9185-83608df2fcb6",
                "address": "0x9CC3cB28cd94eB4423B15cdA73346e204f59a407",
                "event": "",
                "context": {
                  "user_agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36",
                  "locale": "en-GB",
                  "timezone": "Africa/Lagos",
                  "location": "NG",
                  "ref": "",
                  "referrer": "",
                  "utm_campaign": "",
                  "utm_content": "",
                  "utm_medium": "",
                  "utm_source": "",
                  "utm_term": "",
                  "page_title": "WalletConnect Content Cabal",
                  "page_url": "https://app.formo.so/lByfTbeUSL_mxy_TN2m3d",
                  "library_name": "Formo Web SDK",
                  "library_version": "1.25.0",
                  "browser": "chrome",
                  "screen_width": 393,
                  "screen_height": 873,
                  "screen_density": 2.75,
                  "viewport_width": 392,
                  "viewport_height": 735
                },
                "properties": {
                  "url": "https://app.formo.so/lByfTbeUSL_mxy_TN2m3d",
                  "path": "/lByfTbeUSL_mxy_TN2m3d",
                  "hash": "",
                  "query": ""
                },
                "original_timestamp": "2025-04-23T13:15:17.000Z",
                "sent_at": "2025-04-23T13:15:18.000Z",
                "message_id": "48555101eee2f44ac0f0632fcb7c7c9f6ce0012ae395ae79f8a0d515e4f5e41f"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event successfully tracked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "successful_rows": {
                      "type": "integer",
                      "description": "Number of events successfully ingested",
                      "example": 1
                    },
                    "quarantined_rows": {
                      "type": "integer",
                      "description": "Number of events that failed validation and were quarantined",
                      "example": 0
                    }
                  }
                },
                "example": {
                  "successful_rows": 1,
                  "quarantined_rows": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid event data"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid Bearer token"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/v0/query": {
      "post": {
        "summary": "Run SQL query",
        "description": "Executes a read-only SQL query against your project data. Requires a Workspace API Key with `query:read` permission. The API key must be included in the Authorization header as a Bearer token. Queries must be single SELECT/WITH statements, without comments or multiple statements, and must include a LIMIT that is less than or equal to 1000.",
        "operationId": "performSqlQueryPublic",
        "tags": [
          "Query API"
        ],
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Query API"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "SQL query to execute. Must be read-only (SELECT/WITH), single statement, no comments, and include LIMIT <= 1000."
                  }
                },
                "required": [
                  "query"
                ]
              },
              "example": {
                "query": "SELECT * FROM events LIMIT 100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully executed SQL query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformSqlQueryPublicResponse"
                },
                "example": {
                  "data": [
                    {
                      "event": "page",
                      "address": "0x123...",
                      "timestamp": "2025-01-20T10:00:00Z"
                    }
                  ],
                  "meta": {
                    "total": 120,
                    "limit": 100,
                    "offset": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Query missing/invalid or limit over 1000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "Query is required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithCode"
                },
                "example": {
                  "isSuccess": false,
                  "code": "UNAUTHORIZED",
                  "message": "Missing authorization header"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key does not have query:read permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithCode"
                },
                "example": {
                  "isSuccess": false,
                  "code": "FORBIDDEN",
                  "message": "API key does not have query:read permission"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Project ID or read token not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "Project id or read token not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Failed to perform SQL query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Failed to perform SQL query"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/profiles": {
      "post": {
        "summary": "Search Wallet Profiles",
        "description": "Search and filter wallet profiles with pagination support. Returns a paginated list of wallet profiles matching the specified criteria. Supports advanced filtering by user data, on-chain activity, chains, apps, tokens, labels, and lifecycle. Requires a Workspace API Key with `profiles:read` permission. The API key must be included in the Authorization header as a Bearer token.",
        "operationId": "searchWalletProfiles",
        "tags": [
          "Profiles API"
        ],
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Profiles API"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific wallet address (exact match)"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of additional data to include in each profile. Valid options: apps, chains, tokens, labels. Example: expand=apps,chains"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "last_onchain",
                "first_onchain",
                "net_worth_usd",
                "updated_at",
                "tx_count",
                "first_seen",
                "last_seen",
                "num_sessions",
                "revenue",
                "volume",
                "points"
              ]
            },
            "description": "Field to sort results by. Default: last_onchain"
          },
          {
            "name": "order_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction. Default: desc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "description": "Maximum number of profiles to return. Default: 100, Maximum: 1000"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of profiles to skip for pagination. Default: 0"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileFilter"
              },
              "examples": {
                "highNetWorth": {
                  "summary": "Find high net worth users",
                  "value": {
                    "conditions": [
                      {
                        "field": "users.net_worth_usd",
                        "op": "gt",
                        "value": 10000
                      }
                    ],
                    "logic": "and"
                  }
                },
                "chainFilter": {
                  "summary": "Find users with >$5,000 on Ethereum",
                  "value": {
                    "conditions": [
                      {
                        "field": "chains.1.balance",
                        "op": "gt",
                        "value": 5000
                      }
                    ],
                    "logic": "and"
                  }
                },
                "multipleConditions": {
                  "summary": "Find power users with ENS",
                  "value": {
                    "conditions": [
                      {
                        "field": "users.lifecycle",
                        "op": "eq",
                        "value": "Power user"
                      },
                      {
                        "field": "users.ens",
                        "op": "eq",
                        "value": true
                      }
                    ],
                    "logic": "and"
                  }
                },
                "labelFilter": {
                  "summary": "Find Coinbase verified users",
                  "value": {
                    "conditions": [
                      {
                        "field": "labels.coinbase.verified_account",
                        "op": "eq",
                        "value": "true"
                      }
                    ],
                    "logic": "and"
                  }
                },
                "appFilter": {
                  "summary": "Find users with Uniswap or Aave activity",
                  "value": {
                    "conditions": [
                      {
                        "field": "apps.uniswap.balance",
                        "op": "gt",
                        "value": 0
                      },
                      {
                        "field": "apps.aave.balance",
                        "op": "gt",
                        "value": 0
                      }
                    ],
                    "logic": "or"
                  }
                },
                "tokenProtocolFilter": {
                  "summary": "Find users with USDC deposited in Aave V3",
                  "value": {
                    "conditions": [
                      {
                        "field": "tokens.0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48.balance",
                        "op": "gt",
                        "value": 1000,
                        "scope": "protocol",
                        "appId": "aave-v3"
                      }
                    ],
                    "logic": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved wallet profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchProfileResponse"
                },
                "example": {
                  "data": [
                    {
                      "address": "0x9CC3cB28cd94eB4423B15cdA73346e204f59a407",
                      "net_worth_usd": 125000.5,
                      "ens": "vitalik.eth",
                      "farcaster": null,
                      "lens": null,
                      "basenames": null,
                      "linea": null,
                      "discord": null,
                      "telegram": null,
                      "website": "https://example.com",
                      "github": "username",
                      "twitter": "username",
                      "linkedin": null,
                      "email": null,
                      "instagram": null,
                      "facebook": null,
                      "tiktok": null,
                      "youtube": null,
                      "reddit": null,
                      "avatar": "https://example.com/avatar.png",
                      "description": "Wallet description",
                      "display_name": "Display Name",
                      "updated_at": "2025-01-20T14:22:00Z",
                      "tx_count": 1234,
                      "first_onchain": "2024-01-15T10:30:00Z",
                      "last_onchain": "2025-01-20T14:22:00Z",
                      "lifecycle": "Returning"
                    }
                  ],
                  "meta": {
                    "total": 150,
                    "limit": 100,
                    "offset": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters or malformed request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "examples": {
                  "invalidRequestBody": {
                    "summary": "Invalid request body JSON",
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request body"
                      }
                    }
                  },
                  "invalidFieldPath": {
                    "summary": "Invalid filter field path",
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid filter field: unknown.field"
                      }
                    }
                  },
                  "invalidOperator": {
                    "summary": "Invalid filter operator",
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid operator. Must be one of: eq, neq, gt, gte, lt, lte, in, nin"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing authorization header, invalid header format, or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithCode"
                },
                "examples": {
                  "missingHeader": {
                    "summary": "Missing authorization header",
                    "value": {
                      "isSuccess": false,
                      "code": "UNAUTHORIZED",
                      "message": "Missing authorization header"
                    }
                  },
                  "invalidFormat": {
                    "summary": "Invalid header format",
                    "value": {
                      "isSuccess": false,
                      "code": "UNAUTHORIZED",
                      "message": "Invalid authorization header format"
                    }
                  },
                  "invalidKey": {
                    "summary": "Invalid API key",
                    "value": {
                      "isSuccess": false,
                      "code": "UNAUTHORIZED",
                      "message": "Invalid workspace API key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key does not have profiles:read permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithCode"
                },
                "example": {
                  "isSuccess": false,
                  "code": "FORBIDDEN",
                  "message": "API key does not have profiles:read permission"
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Failed to fetch wallet profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Failed to fetch wallet profile data"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/profiles/{address}": {
      "get": {
        "summary": "Get Wallet Profile",
        "description": "Retrieves wallet profile information for a given address. Returns comprehensive profile data including wallet properties, labels, tokens, and apps. Requires a Workspace API Key with `profiles:read` permission. The API key must be included in the Authorization header as a Bearer token.",
        "operationId": "getWalletProfile",
        "tags": [
          "Profiles API"
        ],
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Profiles API"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "EVM Wallet address e.g. 0x0000000000000000000000000000000000000000"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of additional data to include in the response. Valid options: apps, chains, tokens, labels. Example: expand=apps,chains,tokens,labels"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved wallet profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                },
                "example": {
                  "address": "0x9CC3cB28cd94eB4423B15cdA73346e204f59a407",
                  "net_worth_usd": 125000.5,
                  "ens": "vitalik.eth",
                  "farcaster": null,
                  "lens": null,
                  "basenames": null,
                  "linea": null,
                  "discord": null,
                  "telegram": null,
                  "website": "https://example.com",
                  "github": "github.com/username",
                  "twitter": "@username",
                  "linkedin": null,
                  "email": null,
                  "instagram": null,
                  "facebook": null,
                  "tiktok": null,
                  "youtube": null,
                  "reddit": null,
                  "avatar": "https://example.com/avatar.png",
                  "description": "Wallet description",
                  "display_name": "Display Name",
                  "updated_at": "2025-01-20T14:22:00Z",
                  "tx_count": 1234,
                  "first_onchain": "2024-01-15T10:30:00Z",
                  "last_onchain": "2025-01-20T14:22:00Z",
                  "first_seen": "2024-01-15T10:30:00Z",
                  "last_seen": "2025-01-20T14:22:00Z",
                  "first_utm_source": "google",
                  "last_utm_source": "direct",
                  "first_utm_medium": "cpc",
                  "last_utm_medium": null,
                  "first_utm_campaign": "summer_sale",
                  "last_utm_campaign": null,
                  "first_utm_content": null,
                  "last_utm_content": null,
                  "first_utm_term": null,
                  "last_utm_term": null,
                  "first_referrer": "example.com",
                  "last_referrer": null,
                  "first_referrer_url": "https://example.com/page",
                  "last_referrer_url": null,
                  "first_ref": "ref123",
                  "last_ref": null,
                  "location": "US",
                  "device": "Desktop",
                  "browser": "Chrome",
                  "os": "macOS",
                  "last_type": "track",
                  "last_event": "Page Viewed",
                  "last_properties": "{\"page\":\"/home\"}",
                  "num_sessions": 45,
                  "revenue": 1500.75,
                  "volume": 50000,
                  "points": 2500,
                  "activity_dates": [
                    "2024-01-15",
                    "2024-01-16",
                    "2024-01-20"
                  ],
                  "chains": [
                    {
                      "chain_id": "1",
                      "net_worth_usd": 100000,
                      "tx_count": 1000,
                      "first_onchain": "2024-01-15T10:30:00Z",
                      "last_onchain": "2025-01-20T14:22:00Z"
                    },
                    {
                      "chain_id": "137",
                      "net_worth_usd": 25000.5,
                      "tx_count": 234,
                      "first_onchain": "2024-03-01T08:00:00Z",
                      "last_onchain": "2025-01-18T12:00:00Z"
                    }
                  ],
                  "labels": [
                    {
                      "id": "label_123",
                      "value": "Whale",
                      "chain_id": "1",
                      "source": "manual"
                    }
                  ],
                  "apps": [
                    {
                      "chain_id": "1",
                      "id": "uniswap",
                      "name": "Uniswap",
                      "img": "https://example.com/uniswap.png",
                      "url": "https://uniswap.org",
                      "balance_usd": 50000
                    }
                  ],
                  "tokens": [
                    {
                      "chain_id": "1",
                      "token_address": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                      "app_id": "usdc",
                      "name": "USD Coin",
                      "symbol": "USDC",
                      "img": "https://example.com/usdc.png",
                      "decimals": 6,
                      "price": 1,
                      "balance": "1000000000",
                      "balance_usd": 1000
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid wallet address format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "Invalid wallet address format"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing authorization header, invalid header format, or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithCode"
                },
                "examples": {
                  "missingHeader": {
                    "summary": "Missing authorization header",
                    "value": {
                      "isSuccess": false,
                      "code": "UNAUTHORIZED",
                      "message": "Missing authorization header"
                    }
                  },
                  "invalidFormat": {
                    "summary": "Invalid header format",
                    "value": {
                      "isSuccess": false,
                      "code": "UNAUTHORIZED",
                      "message": "Invalid authorization header format"
                    }
                  },
                  "invalidKey": {
                    "summary": "Invalid API key",
                    "value": {
                      "isSuccess": false,
                      "code": "UNAUTHORIZED",
                      "message": "Invalid workspace API key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key does not have profiles:read permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorWithCode"
                },
                "example": {
                  "isSuccess": false,
                  "code": "FORBIDDEN",
                  "message": "API key does not have profiles:read permission"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Wallet profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "PROFILE_NOT_FOUND",
                    "message": "Profile does not exist"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Failed to fetch wallet profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Failed to fetch wallet profile data"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/alerts": {
      "get": {
        "operationId": "listAlerts",
        "summary": "List alerts",
        "description": "List all alerts for the project scoped to the API key.",
        "tags": [
          "Alerts"
        ],
        "x-required-scope": "alerts:read",
        "responses": {
          "200": {
            "description": "List of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alert"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Alerts"
          }
        ]
      },
      "post": {
        "operationId": "createAlert",
        "summary": "Create alert",
        "description": "Create a new alert for the project.",
        "tags": [
          "Alerts"
        ],
        "x-required-scope": "alerts:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "trigger_type": {
                    "type": "string",
                    "enum": [
                      "event",
                      "user"
                    ]
                  },
                  "trigger_filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "numericThreshold": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    }
                  },
                  "recipient": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "email",
                            "slack",
                            "webhook"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "secret": {
                    "type": "string",
                    "description": "Webhook signing secret"
                  }
                },
                "required": [
                  "name",
                  "trigger_type",
                  "trigger_filters"
                ],
                "x-examples": {
                  "eventAlert": {
                    "summary": "Alert on high-value transactions",
                    "value": {
                      "name": "High-value transaction alert",
                      "trigger_type": "event",
                      "trigger_filters": [
                        {
                          "name": "event",
                          "value": "swap"
                        },
                        {
                          "name": "value",
                          "operator": "greater",
                          "value": "1000",
                          "numericThreshold": "1000"
                        }
                      ],
                      "recipient": [
                        {
                          "type": "email",
                          "value": [
                            "alerts@myapp.com"
                          ]
                        },
                        {
                          "type": "webhook",
                          "value": [
                            "https://hooks.myapp.com/formo-alerts"
                          ]
                        }
                      ],
                      "secret": "whsec_mysigningsecret123"
                    }
                  },
                  "userAlert": {
                    "summary": "Alert on new user spike",
                    "value": {
                      "name": "New user spike",
                      "trigger_type": "user",
                      "trigger_filters": [
                        {
                          "name": "new_users",
                          "operator": "greater",
                          "value": "100",
                          "numericThreshold": "100"
                        }
                      ],
                      "recipient": [
                        {
                          "type": "slack",
                          "value": [
                            "#alerts|https://hooks.slack.com/services/T00/B00/xxx"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Alert created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Alert"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Alerts"
          }
        ]
      }
    },
    "/v0/alerts/{alertId}": {
      "get": {
        "operationId": "getAlert",
        "summary": "Get alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Alert"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:read",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Alerts"
          }
        ]
      },
      "put": {
        "operationId": "updateAlert",
        "summary": "Update alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "trigger_type": {
                    "type": "string",
                    "enum": [
                      "event",
                      "user"
                    ]
                  },
                  "trigger_filters": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "recipient": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "secret": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "trigger_type",
                  "trigger_filters"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Alert"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Alerts"
          }
        ]
      },
      "delete": {
        "operationId": "deleteAlert",
        "summary": "Delete alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Alerts"
          }
        ]
      },
      "patch": {
        "operationId": "toggleAlertStatus",
        "summary": "Toggle alert status",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Alert"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Alerts"
          }
        ]
      }
    },
    "/v0/boards": {
      "get": {
        "operationId": "listBoards",
        "summary": "List boards",
        "tags": [
          "Boards"
        ],
        "responses": {
          "200": {
            "description": "List of boards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Board"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Boards"
          }
        ]
      },
      "post": {
        "operationId": "createBoard",
        "summary": "Create board",
        "description": "Create a new empty board.",
        "tags": [
          "Boards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Board created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Board"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Boards"
          }
        ]
      }
    },
    "/v0/boards/{boardId}": {
      "get": {
        "operationId": "getBoard",
        "summary": "Get board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Board details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Board"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Boards"
          }
        ]
      },
      "patch": {
        "operationId": "updateBoard",
        "summary": "Update board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean",
                    "description": "Whether the board is publicly accessible"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Board"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write",
        "description": "Update board title, description, and/or public visibility.",
        "x-examples": {
          "updateTitle": {
            "summary": "Update board title",
            "value": {
              "title": "Weekly Dashboard"
            }
          },
          "makePublic": {
            "summary": "Make board public",
            "value": {
              "isPublic": true
            }
          },
          "fullUpdate": {
            "summary": "Update all fields",
            "value": {
              "title": "Revenue Dashboard",
              "description": "Weekly revenue metrics",
              "isPublic": true
            }
          }
        },
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Boards"
          }
        ]
      },
      "delete": {
        "operationId": "deleteBoard",
        "summary": "Delete board",
        "description": "Delete a board and all its charts.",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Board deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Board"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Boards"
          }
        ]
      }
    },
    "/v0/boards/{boardId}/charts": {
      "get": {
        "operationId": "listCharts",
        "summary": "List charts for a board",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charts with executed query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "charts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Chart"
                          }
                        },
                        "board": {
                          "$ref": "#/components/schemas/Board"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Charts"
          }
        ]
      },
      "post": {
        "operationId": "createChart",
        "summary": "Create chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "SQL query for the chart"
                  },
                  "chart_type": {
                    "type": "string",
                    "enum": [
                      "table",
                      "number",
                      "funnel",
                      "bar",
                      "line",
                      "pie",
                      "stacked",
                      "user_paths",
                      "retention"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "x_axis": {
                    "type": "string"
                  },
                  "y_axis": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "group_by": {
                    "type": "string"
                  },
                  "steps": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "settings": {
                    "type": "object"
                  }
                },
                "required": [
                  "query",
                  "chart_type",
                  "title"
                ],
                "x-examples": {
                  "barChart": {
                    "summary": "Daily active users bar chart",
                    "value": {
                      "query": "SELECT toDate(timestamp) as date, uniq(anonymous_id) as users FROM analytics_events WHERE timestamp >= now() - interval 30 day GROUP BY date ORDER BY date",
                      "chart_type": "bar",
                      "title": "Daily Active Users",
                      "x_axis": "date",
                      "y_axis": [
                        "users"
                      ]
                    }
                  },
                  "pieChart": {
                    "summary": "Traffic by device type",
                    "value": {
                      "query": "SELECT device, count() as visits FROM analytics_events WHERE timestamp >= now() - interval 7 day GROUP BY device ORDER BY visits DESC LIMIT 5",
                      "chart_type": "pie",
                      "title": "Traffic by Device",
                      "y_axis": [
                        "visits"
                      ]
                    }
                  },
                  "numberChart": {
                    "summary": "Total revenue KPI",
                    "value": {
                      "query": "SELECT sum(value) as total_revenue FROM analytics_events WHERE event = 'purchase' AND timestamp >= now() - interval 30 day",
                      "chart_type": "number",
                      "title": "Monthly Revenue"
                    }
                  },
                  "funnelChart": {
                    "summary": "Signup to purchase funnel",
                    "value": {
                      "query": "SELECT 1",
                      "chart_type": "funnel",
                      "title": "Signup → Purchase Funnel",
                      "steps": [
                        {
                          "type": "event",
                          "event": "page_view"
                        },
                        {
                          "type": "event",
                          "event": "sign_up"
                        },
                        {
                          "type": "event",
                          "event": "purchase"
                        }
                      ],
                      "settings": {
                        "funnelType": "closed",
                        "conversionWindow": {
                          "value": 7,
                          "unit": "day"
                        }
                      }
                    }
                  },
                  "stackedChart": {
                    "summary": "Revenue by UTM campaign",
                    "value": {
                      "query": "SELECT toDate(timestamp) as date, utm_campaign, sum(value) as revenue FROM analytics_events WHERE event = 'purchase' AND timestamp >= now() - interval 30 day GROUP BY date, utm_campaign ORDER BY date",
                      "chart_type": "stacked",
                      "title": "Revenue by Campaign",
                      "x_axis": "date",
                      "y_axis": [
                        "revenue"
                      ],
                      "group_by": "utm_campaign"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chart created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "string",
                      "description": "Chart ID"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Charts"
          }
        ]
      }
    },
    "/v0/boards/{boardId}/charts/{chartId}": {
      "get": {
        "operationId": "getChart",
        "summary": "Get chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Chart"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:read",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Charts"
          }
        ]
      },
      "put": {
        "operationId": "editChart",
        "summary": "Edit chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "chart_type": {
                    "type": "string",
                    "enum": [
                      "table",
                      "number",
                      "funnel",
                      "bar",
                      "line",
                      "pie",
                      "stacked",
                      "user_paths",
                      "retention"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "x_axis": {
                    "type": "string"
                  },
                  "y_axis": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "group_by": {
                    "type": "string"
                  },
                  "steps": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "settings": {
                    "type": "object"
                  }
                },
                "required": [
                  "query",
                  "chart_type",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "string",
                      "description": "Chart ID"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "boards:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Charts"
          }
        ]
      },
      "delete": {
        "operationId": "deleteChart",
        "summary": "Delete chart",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart deleted"
          }
        },
        "x-required-scope": "boards:write",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Charts"
          }
        ]
      }
    },
    "/v0/contracts": {
      "get": {
        "operationId": "listContracts",
        "summary": "List contracts",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "Contracts with deployment diff info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "contracts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Contract"
                          }
                        },
                        "deployAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "deployDiff": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "contracts:read",
        "servers": [
          {
            "url": "https://api.formo.so",
            "description": "Contracts"
          }
        ]
      },
      "post": {
        "operationId": "createContract",
        "summary": "Create contract",
        "description": "Add a blockchain contract to monitor.",
        "tags": [
          "Contracts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "EVM contract address"
                  },
                  "chain": {
                    "type": "integer",
                    "description": "Chain ID"
                  },
                  "name": {
                    "type": "string"
                  },
                  "abi": {
                    "type": "string",
                    "description": "JSON-stringified ABI"
                  },
                  "events": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "properties": {
[...]
