{
	"openapi": "3.0.0",
	"info": {
		"title": "Formo Webhook API",
		"version": "1.0.0",
		"description": "API for managing webhook subscriptions and form responses"
	},
	"servers": [
		{
			"url": "https://api.formo.so/api",
			"description": "Production server"
		}
	],
	"components": {
		"securitySchemes": {
			"ApiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key"
			}
		},
		"schemas": {
			"FormResponse": {
				"type": "object",
				"properties": {
					"formId": {
						"type": "string",
						"description": "Unique identifier of the form"
					},
					"formTitle": {
						"type": "string",
						"description": "Title of the form"
					},
					"submissionId": {
						"type": "string",
						"description": "Unique identifier of the submission"
					},
					"submittedAt": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp of form submission"
					}
				},
				"additionalProperties": true
			},
			"Error": {
				"type": "object",
				"properties": {
					"isSuccess": {
						"type": "boolean",
						"example": false
					},
					"message": {
						"type": "string"
					}
				}
			},
			"SuccessResponse": {
				"type": "object",
				"properties": {
					"isSuccess": {
						"type": "boolean",
						"example": true
					},
					"data": {
						"type": "object",
						"properties": {
							"items": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/FormResponse"
								}
							}
						}
					}
				}
			}
		}
	},
	"paths": {
		"/webhooks/{formId}/poll": {
			"get": {
				"summary": "List Form Responses",
				"description": "Retrieves recent form responses with transformed field data",
				"operationId": "listFormResponses",
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "formId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "The unique identifier of the form"
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved form responses",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SuccessResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request - Form ID is required",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Missing or invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden - Insufficient permissions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Not Found - Form not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"500": {
						"description": "Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		}
	}
}
