{
  "openapi": "3.1.0",
  "info": {
    "title": "Formo Public API",
    "description": "REST API for managing Formo projects, analytics, alerts, boards, charts, contracts, segments, and AI chat.\n\n**Auth.** All endpoints require a workspace API key with the appropriate scopes (see `x-api-scopes`).\n\n**Response shape.** Successful responses return the resource directly (or `{ data: [...], total, page, size, has_more }` for paginated lists). HTTP status carries success/failure; there is no envelope wrapping success bodies.\n\n**Errors.** Every non-2xx response uses the `Error` envelope: `{ error: { code, message, doc_url, param?, details? } }`. Branch on the machine-readable `code` (see `ErrorCode` enum) and follow `doc_url` to the matching section of the [errors reference](https://docs.formo.so/api/errors).\n\n**Idempotency.** Pass an `Idempotency-Key` header on POST/PUT/PATCH/DELETE to make retries safe; the response is cached for 24 h and replayed on duplicate keys.",
    "version": "0.1.0",
    "contact": {
      "name": "Formo",
      "url": "https://formo.so"
    }
  },
  "servers": [
    {
      "url": "https://api.formo.so",
      "description": "API Server (boards, alerts, contracts, segments, profiles, query, import)"
    },
    {
      "url": "https://events.formo.so",
      "description": "Events Server (event ingestion)"
    }
  ],
  "security": [
    {
      "WorkspaceApiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "WorkspaceApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key (e.g. `formo_xxx`). Create one in the Formo dashboard under Team Settings > API."
      },
      "X402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-PAYMENT",
        "description": "x402 payment payload generated after the gateway returns a 402 challenge."
      },
      "MPPPayment": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "MPP payment authorization header, formatted as `Payment <payload>`, generated after the gateway returns a 402 challenge."
      }
    },
    "schemas": {
      "PaginatedListMeta": {
        "type": "object",
        "description": "Pagination cursor returned alongside `data` on every paginated list endpoint. Use these to walk pages: `has_more` is true while `page * size < total`. Combine with the matching `Page` and `Size` query parameters to request the next page.",
        "required": ["page", "size", "total", "has_more"],
        "properties": {
          "page": {
            "type": "integer",
            "description": "1-indexed page number echoed from the request."
          },
          "size": {
            "type": "integer",
            "description": "Page size echoed from the request."
          },
          "total": {
            "type": "integer",
            "description": "Total row count across all pages."
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more pages remain (`page * size < total`)."
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Standard error envelope returned by every public API endpoint for any non-2xx response. The HTTP status code carries success/failure; the body provides a machine-readable `code`, a human-readable `message`, and a `doc_url` pointing at the matching section of the docs so agents can fetch context on the fly.",
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message", "doc_url"],
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description. Wording may change between releases, so branch on `code`, not `message`."
              },
              "doc_url": {
                "type": "string",
                "format": "uri",
                "description": "Link to the matching section of the errors reference at https://docs.formo.so/api/errors."
              },
              "param": {
                "type": "string",
                "description": "When the error pertains to a specific request field, the dotted path to that field (e.g. `body.trigger_filters.0.value`)."
              },
              "details": {
                "type": "object",
                "additionalProperties": true,
                "description": "Code-specific extra context. For `INVALID_VALIDATION_REQUEST` this is a `{ fieldPath: message }` map of every Zod validation failure."
              }
            }
          }
        },
        "required": ["error"]
      },
      "ErrorCode": {
        "type": "string",
        "description": "Stable, enumerated error codes. New codes may be added in any release; clients should treat unknown codes as the closest matching HTTP status family.",
        "enum": [
          "INTERNAL_SERVER_ERROR",
          "INVALID_VALIDATION_REQUEST",
          "UNAUTHORIZED",
          "BAD_REQUEST",
          "FORBIDDEN",
          "NOT_FOUND",
          "CONFLICT",
          "INVALID_CHAIN_ID",
          "CONTEXT_LIMIT_EXCEEDED",
          "SERVICE_UNAVAILABLE",
          "TOO_MANY_REQUESTS",
          "IDEMPOTENCY_IN_PROGRESS",
          "INVALID_IDEMPOTENCY_KEY"
        ]
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "trigger_type": {
            "type": "string",
            "enum": ["event", "user"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"]
          },
          "trigger_filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertFilter"
            }
          },
          "recipient": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["email", "slack", "webhook"]
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": ["type", "value"]
            }
          },
          "project_id": {
            "type": "string"
          },
          "has_secret": {
            "type": "boolean"
          }
        },
        "required": ["id", "name", "trigger_type", "status", "project_id"]
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "project_id": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the board is publicly accessible"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["id", "project_id", "enabled"]
      },
      "StepFilterCondition": {
        "type": "object",
        "description": "A canonical filter on a funnel, flow, retention, or user-path step.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Column or property targeted by this filter."
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "lt",
              "gte",
              "lte",
              "in",
              "nin",
              "startsWith",
              "endsWith",
              "contains",
              "notEmpty",
              "isEmpty"
            ],
            "description": "Canonical comparison operator token."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Value to compare against. Omit for `notEmpty` and `isEmpty`. For `in` / `nin`, pass a non-empty array or a pipe-delimited string. Array string members cannot contain a literal `|`, which is reserved as the Tinybird membership separator."
          }
        },
        "required": ["field", "op"]
      },
      "FunnelStep": {
        "type": "object",
        "description": "A single funnel or user-path step. Event-property predicates are stored in `filters`, using the same canonical `{field, op, value}` envelope as every other filter surface.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["event", "track", "decoded_log"],
            "description": "`event`: built-in page/connect/transaction events; `track`: custom tracked events; `decoded_log`: decoded smart-contract events."
          },
          "event": {
            "type": "string",
            "minLength": 1,
            "description": "Event name (e.g. `page`, `connect`, `transaction`, or a custom track event name)."
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StepFilterCondition"
            }
          }
        },
        "required": ["type", "event"],
        "additionalProperties": true
      },
      "ConversionWindow": {
        "type": "object",
        "description": "Time window within which a user must complete all funnel steps (measured from Step 1). Defaults to 2 hours if omitted.",
        "properties": {
          "value": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of time units."
          },
          "unit": {
            "type": "string",
            "enum": ["hour", "day", "week"],
            "description": "Time unit. `week` = 7 days."
          }
        },
        "required": ["value", "unit"]
      },
      "AnalyticsFilterCondition": {
        "type": "object",
        "description": "A single condition in an analytics `filters` query parameter. Multiple entries are combined with implicit AND. Use `in` / `nin` with a pipe-delimited string value (e.g. `\"a|b|c\"`) for multi-value matches.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Column to filter on. Page path: `page`. Standard session columns: `device`, `browser`, `os`, `location`, `referrer`, `ref`, `origin`, `utm_source`, `utm_medium`, `utm_campaign`, `utm_content`, `utm_term`. Track-event columns: `event`, `type`. Numeric event properties: `volume`, `revenue`, `points`."
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "lt",
              "gte",
              "lte",
              "in",
              "nin",
              "startsWith",
              "endsWith",
              "contains",
              "notEmpty",
              "isEmpty"
            ],
            "description": "Comparison operator. `startsWith` / `endsWith` / `contains` are substring matches on text columns (e.g. `referrer`, `ref`, `utm_*`, `origin`, `builder_codes`). `notEmpty` matches rows where the column has any non-empty value, and `isEmpty` is its complement (the column is empty/unset); both ignore `value` (pass any placeholder). Existence checks are rejected on the numeric event columns `volume`/`revenue`/`points`."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Value to compare against. Omit for `notEmpty` and `isEmpty`. For `in` / `nin`, pass a non-empty array or a pipe-delimited string. Array string members cannot contain a literal `|`, which is reserved as the Tinybird membership separator."
          },
          "filters": {
            "type": "array",
            "description": "Optional predicates on properties of the selected event. Nested entries use the same canonical envelope and are leaves; deeper nesting is not supported.",
            "items": {
              "$ref": "#/components/schemas/AnalyticsNestedFilterCondition"
            }
          }
        },
        "required": ["field", "op"]
      },
      "AnalyticsNestedFilterCondition": {
        "type": "object",
        "description": "A leaf predicate on a property of the event selected by an analytics filter. This canonical envelope cannot contain further nested filters.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Event property targeted by this filter."
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "lt",
              "gte",
              "lte",
              "in",
              "nin",
              "startsWith",
              "endsWith",
              "contains",
              "notEmpty",
              "isEmpty"
            ],
            "description": "Canonical comparison operator token."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Value to compare against. Omit for `notEmpty` and `isEmpty`. For `in` / `nin`, pass a non-empty array or a pipe-delimited string. Array string members cannot contain a literal `|`, which is reserved as the Tinybird membership separator."
          }
        },
        "required": ["field", "op"]
      },
      "SegmentFilterCondition": {
        "type": "object",
        "additionalProperties": false,
        "description": "A condition in a saved segment. Segment entries use the canonical `{field, op, value}` envelope and are combined with implicit AND. Nested event-property predicates are not supported by saved segments.",
        "properties": {
          "field": {
            "type": "string",
            "minLength": 1
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "lt",
              "gte",
              "lte",
              "in",
              "nin",
              "startsWith",
              "endsWith",
              "contains",
              "notEmpty",
              "isEmpty"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Value to compare against. Omit for `notEmpty` and `isEmpty`. Membership arrays must be non-empty. Array string members cannot contain a literal `|`, which is reserved as the Tinybird membership separator."
          }
        },
        "required": ["field", "op"]
      },
      "RetentionUserFilter": {
        "type": "object",
        "description": "A user-level retention cohort filter using the canonical `{field, op, value}` envelope.",
        "properties": {
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The value to compare against. Omit for `notEmpty` and `isEmpty`."
          },
          "field": {
            "type": "string",
            "description": "The user property to filter on (e.g. `device`, `browser`, `os`, `location`, `utm_source`, `utm_medium`, `utm_campaign`)."
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "in",
              "nin",
              "gt",
              "gte",
              "lt",
              "lte",
              "notEmpty",
              "isEmpty"
            ],
            "description": "Comparison operator. Only the canonical terse tokens are accepted (the retired long forms `greater`/`greaterOrEqual`/`less`/`lessOrEqual` are rejected). `notEmpty` (\"is not empty\") and `isEmpty` (\"is empty\") are value-less existence checks on a string user property; the `value` is ignored. Substring operators (`startsWith` / `endsWith` / `contains`) are not supported on retention user filters."
          }
        },
        "required": ["field", "op"]
      },
      "RetentionLabelSignal": {
        "type": "object",
        "description": "The label predicate for label-based retention. The cohort is wallets grouped by the week they FIRST crossed this predicate on their label value; a wallet is retained in a later week if its latest value as of that week's end still satisfies it (as-of / carry-forward, evaluated against label history).",
        "properties": {
          "field": {
            "type": "string",
            "description": "The label tag to evaluate (the value of `tag_id` set via `POST /v0/profiles/:address/labels`)."
          },
          "op": {
            "type": "string",
            "enum": ["gt", "gte", "lt", "lte", "eq"],
            "default": "gt",
            "description": "Comparison operator. Numeric operators coerce both sides via toFloat64OrZero, so a numeric op on a non-numeric value yields no match (not an error)."
          },
          "value": {
            "type": "string",
            "description": "The threshold/value to compare against. Always a string; numeric ops coerce it."
          },
          "chain_id": {
            "type": "string",
            "default": "",
            "description": "Optional chain scope. Empty string matches across all chains."
          }
        },
        "required": ["field", "op", "value"]
      },
      "RetentionCohortLabelFilter": {
        "type": "object",
        "description": "A label predicate that restricts an event-based retention cohort. Uses the canonical filter envelope.",
        "properties": {
          "field": {
            "type": "string",
            "description": "The label tag to evaluate."
          },
          "op": {
            "type": "string",
            "enum": ["eq", "neq", "contains", "gt", "gte", "lt", "lte"],
            "default": "eq"
          },
          "value": {
            "type": "string"
          },
          "chain_id": {
            "type": "string",
            "default": "",
            "description": "Optional chain scope. Empty string matches across all chains."
          }
        },
        "required": ["field", "op", "value"]
      },
      "ChartSettings": {
        "type": "object",
        "description": "Chart-type-specific configuration. The fields that apply depend on `chart_type`:\n\n- **funnel**: `funnelType`, `conversionWindow`, `breakdown`\n- **user_paths**: `anchors`, `maxSteps`, `nodesPerStep`, `conversionWindow`, `filters`\n- **retention**: `entryFilter`, `retentionFilter`, `retentionUserFilters`, `retentionSignalType`, `retentionLabelSignal`\n\nFields are optional at the schema level except where the selected chart type requires them. User Paths require at least one `anchors` entry. Retention requests must explicitly include `entryFilter`; use `null` for any event.",
        "properties": {
          "funnelType": {
            "type": "string",
            "enum": ["closed", "open"],
            "default": "closed",
            "description": "**Funnel only.** `closed`: users must complete steps in strict order with no intervening events. `open`: users may complete steps in order but other events may occur between steps."
          },
          "conversionWindow": {
            "$ref": "#/components/schemas/ConversionWindow",
            "description": "**Funnel & user_paths.** Maximum time from Step 1 for a user to complete all steps."
          },
          "breakdown": {
            "type": "string",
            "enum": [
              "device",
              "browser",
              "os",
              "location",
              "referrer",
              "ref",
              "utm_source",
              "utm_medium",
              "utm_campaign",
              "utm_term",
              "utm_content",
              "builder_codes"
            ],
            "description": "**Funnel only.** Split each funnel bar by this dimension. The top categories are shown individually; the rest are collapsed into 'Others'."
          },
          "anchors": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "description": "**user_paths (required).** Ordered path anchors. The first entry starts the flow; the last entry ends it. A single entry creates an open-ended flow."
          },
          "maxSteps": {
            "type": "integer",
            "minimum": 2,
            "maximum": 5,
            "default": 3,
            "description": "**user_paths.** Maximum number of steps to show in the flow (2 to 5). Values above 5 are clamped to 5."
          },
          "nodesPerStep": {
            "type": "integer",
            "minimum": 2,
            "maximum": 8,
            "default": 5,
            "description": "**user_paths.** Maximum number of unique event nodes visible per step (2 to 8). Values above 8 are clamped to 8."
          },
          "filters": {
            "type": "string",
            "description": "**user_paths.** JSON-encoded string of additional filters applied to the path query."
          },
          "retentionFilter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FunnelStep"
              },
              {
                "type": "null"
              }
            ],
            "description": "**retention.** Event that qualifies a returning visit as 'retained'. If `null`, any event counts as a return."
          },
          "entryFilter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FunnelStep"
              },
              {
                "type": "null"
              }
            ],
            "description": "**retention (required).** Event that places a user into the cohort. If `null`, any event counts as cohort entry. The key must be present even when its value is `null`."
          },
          "retentionUserFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RetentionUserFilter"
            },
            "description": "**retention.** Zero or more user-segment filters that narrow the cohort (e.g. only desktop users, only users from a specific UTM source)."
          },
          "retentionSignalType": {
            "type": "string",
            "enum": ["event", "label"],
            "default": "event",
            "description": "**retention.** `event` (default): cohort and retention are driven by events. `label`: driven by a label value over time (see `retentionLabelSignal`); when `label`, the event fields are ignored."
          },
          "retentionLabelSignal": {
            "$ref": "#/components/schemas/RetentionLabelSignal",
            "description": "**retention.** The label predicate when `retentionSignalType` is `label`."
          },
          "retentionCohortLabelFilters": {
            "type": "array",
            "description": "**retention.** Label predicates that restrict an event-based cohort.",
            "items": {
              "$ref": "#/components/schemas/RetentionCohortLabelFilter"
            }
          }
        }
      },
      "CreateChartRequest": {
        "type": "object",
        "description": "Request body for creating a chart.",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Project the chart belongs to."
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "SQL query that powers the chart.\n\n- **`funnel`**: pass `\"SELECT 1\"`; the actual query is auto-generated from `steps`.\n- **`user_paths`**: omit it; the query is generated from `settings.anchors`.\n- **`retention`**: omit it; data is fetched automatically.\n- **All other types**: required; must be a valid SQL string."
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "area",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ],
            "description": "Visualization type. Determines which other fields are required:\n\n| `chart_type` | Extra required fields |\n|---|---|\n| `table` | `query` |\n| `number` | `query` (must return 1 row × 1 column) |\n| `bar` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `line` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `area` | `query`, `x_axis`, `y_axis` (≥ 1; exactly 1 if `group_by` set) |\n| `pie` | `query`, `y_axis` (exactly 1) |\n| `stacked` | `query`, `x_axis`, `y_axis` (exactly 1), `group_by` |\n| `funnel` | `steps` (≥ 2), `query` placeholder `\"SELECT 1\"` |\n| `user_paths` | `settings.anchors` (≥ 1); query is generated |\n| `retention` | `settings.entryFilter` (key required; `null` means any event) |"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Display name shown on the chart and board."
          },
          "description": {
            "type": "string",
            "description": "Optional description."
          },
          "x_axis": {
            "type": "string",
            "description": "Column name for the X axis. Required for `bar`, `line`, and `stacked`."
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column name(s) used as Y axis metrics.\n\n- `bar` / `line`: at least 1 element required.\n- `pie` / `stacked`: exactly 1 element required."
          },
          "group_by": {
            "type": "string",
            "description": "Column to group / stack series by. Required for `stacked`."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "minItems": 2,
            "description": "Ordered list of funnel steps. Required for `funnel` (minimum 2 steps).\n\nEach element is a `FunnelStep`; add property predicates in its canonical `filters` array (e.g. `\"filters\": [{ \"field\": \"rdns\", \"op\": \"eq\", \"value\": \"io.metamask\" }]`)."
          },
          "settings": {
            "$ref": "#/components/schemas/ChartSettings"
          }
        },
        "required": ["projectId", "chart_type", "title"]
      },
      "UpdateChartRequest": {
        "type": "object",
        "description": "Request body for updating an existing chart.",
        "properties": {
          "chartId": {
            "type": "string",
            "description": "ID of the chart to update."
          },
          "projectId": {
            "type": "string",
            "description": "Project the chart belongs to."
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "SQL query that powers the chart.\n\n- **`funnel`**: pass `\"SELECT 1\"`; the actual query is auto-generated from `steps`.\n- **`user_paths`**: omit it; the query is generated from `settings.anchors`.\n- **`retention`**: omit it; data is fetched automatically.\n- **All other types**: required; must be a valid SQL string."
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "area",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ],
            "description": "Visualization type. Determines which other fields are required:\n\n| `chart_type` | Extra required fields |\n|---|---|\n| `table` | `query` |\n| `number` | `query` (must return 1 row × 1 column) |\n| `bar` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `line` | `query`, `x_axis`, `y_axis` (≥ 1) |\n| `area` | `query`, `x_axis`, `y_axis` (≥ 1; exactly 1 if `group_by` set) |\n| `pie` | `query`, `y_axis` (exactly 1) |\n| `stacked` | `query`, `x_axis`, `y_axis` (exactly 1), `group_by` |\n| `funnel` | `steps` (≥ 2), `query` placeholder `\"SELECT 1\"` |\n| `user_paths` | `settings.anchors` (≥ 1); query is generated |\n| `retention` | `settings.entryFilter` (key required; `null` means any event) |"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Display name shown on the chart and board."
          },
          "description": {
            "type": "string",
            "description": "Optional description."
          },
          "x_axis": {
            "type": "string",
            "description": "Column name for the X axis. Required for `bar`, `line`, and `stacked`."
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column name(s) used as Y axis metrics.\n\n- `bar` / `line`: at least 1 element required.\n- `pie` / `stacked`: exactly 1 element required."
          },
          "group_by": {
            "type": "string",
            "description": "Column to group / stack series by. Required for `stacked`."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "minItems": 2,
            "description": "Ordered list of funnel steps. Required for `funnel` (minimum 2 steps).\n\nEach element is a `FunnelStep`; add property predicates in its canonical `filters` array (e.g. `\"filters\": [{ \"field\": \"rdns\", \"op\": \"eq\", \"value\": \"io.metamask\" }]`)."
          },
          "settings": {
            "$ref": "#/components/schemas/ChartSettings"
          }
        },
        "required": ["chartId", "projectId", "chart_type", "title"]
      },
      "Chart": {
        "type": "object",
        "description": "A saved chart attached to a board.",
        "properties": {
          "id": {
            "type": "string"
          },
          "chart_type": {
            "type": "string",
            "enum": [
              "table",
              "number",
              "funnel",
              "bar",
              "line",
              "area",
              "pie",
              "stacked",
              "user_paths",
              "retention"
            ],
            "description": "Visualization type."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "query": {
            "type": "string",
            "description": "SQL query powering the chart. For `funnel` and `retention` charts this is a system-managed placeholder."
          },
          "project_id": {
            "type": "string"
          },
          "board_id": {
            "type": "string"
          },
          "x_axis": {
            "type": "string",
            "nullable": true,
            "description": "Column used as the X axis."
          },
          "y_axis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Column(s) used as Y axis metric(s)."
          },
          "group_by": {
            "type": "string",
            "nullable": true,
            "description": "Column used to group/stack series."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "nullable": true,
            "description": "Ordered list of funnel steps. Only present when `chart_type` is `funnel`."
          },
          "settings": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ChartSettings"
              },
              {
                "type": "null"
              }
            ],
            "description": "Type-specific configuration. See `ChartSettings` for all fields."
          }
        },
        "required": [
          "id",
          "chart_type",
          "title",
          "query",
          "project_id",
          "board_id"
        ]
      },
      "Contract": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "chain": {
            "type": "integer"
          },
          "address": {
            "type": "string"
          },
          "start_block": {
            "type": "integer"
          },
          "abi": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "anonymous": {
                  "type": "boolean"
                },
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": ["anonymous", "inputs", "name", "type"]
            }
          }
        },
        "required": ["name", "chain", "address", "abi", "events"]
      },
      "Segment": {
        "type": "object",
        "description": "A saved segment. `filters` is an array of canonical filter objects combined with implicit AND.",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentFilterCondition"
            }
          }
        },
        "required": ["id", "title", "filters"]
      },
      "Profile": {
        "type": "object",
        "description": "Comprehensive wallet profile with onchain and offchain data",
        "properties": {
          "address": {
            "type": "string"
          },
          "net_worth_usd": {
            "type": "number"
          },
          "tx_count": {
            "type": "integer"
          },
          "first_onchain": {
            "type": "string",
            "description": "First onchain activity date"
          },
          "last_onchain": {
            "type": "string",
            "description": "Last onchain activity date"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ens": {
            "type": "string",
            "nullable": true
          },
          "farcaster": {
            "type": "string",
            "nullable": true
          },
          "lens": {
            "type": "string",
            "nullable": true
          },
          "basenames": {
            "type": "string",
            "nullable": true
          },
          "linea": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "discord": {
            "type": "string",
            "nullable": true
          },
          "telegram": {
            "type": "string",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "nullable": true
          },
          "github": {
            "type": "string",
            "nullable": true
          },
          "linkedin": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "instagram": {
            "type": "string",
            "nullable": true
          },
          "facebook": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "reddit": {
            "type": "string",
            "nullable": true
          },
          "youtube": {
            "type": "string",
            "nullable": true
          },
          "tiktok": {
            "type": "string",
            "nullable": true
          },
          "first_seen": {
            "type": "string",
            "nullable": true,
            "description": "First seen in project"
          },
          "last_seen": {
            "type": "string",
            "nullable": true,
            "description": "Last seen in project"
          },
          "lifecycle": {
            "type": "string",
            "nullable": true,
            "enum": [
              "New",
              "Returning",
              "Power user",
              "At Risk",
              "Churned",
              "Resurrected"
            ]
          },
          "num_sessions": {
            "type": "integer",
            "nullable": true
          },
          "revenue": {
            "type": "number",
            "nullable": true
          },
          "volume": {
            "type": "number",
            "nullable": true
          },
          "points": {
            "type": "number",
            "nullable": true
          },
          "device": {
            "type": "string",
            "nullable": true
          },
          "browser": {
            "type": "string",
            "nullable": true
          },
          "os": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "first_utm_source": {
            "type": "string",
            "nullable": true
          },
          "first_utm_medium": {
            "type": "string",
            "nullable": true
          },
          "first_utm_campaign": {
            "type": "string",
            "nullable": true
          },
          "first_referrer": {
            "type": "string",
            "nullable": true
          },
          "last_utm_source": {
            "type": "string",
            "nullable": true
          },
          "last_utm_medium": {
            "type": "string",
            "nullable": true
          },
          "last_utm_campaign": {
            "type": "string",
            "nullable": true
          },
          "last_referrer": {
            "type": "string",
            "nullable": true
          },
          "first_referrer_url": {
            "type": "string",
            "nullable": true,
            "description": "First referrer full URL"
          },
          "last_referrer_url": {
            "type": "string",
            "nullable": true,
            "description": "Last referrer full URL"
          },
          "first_ref": {
            "type": "string",
            "nullable": true,
            "description": "First referral code"
          },
          "last_ref": {
            "type": "string",
            "nullable": true,
            "description": "Last referral code"
          },
          "first_utm_content": {
            "type": "string",
            "nullable": true,
            "description": "First UTM content"
          },
          "last_utm_content": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM content"
          },
          "first_utm_term": {
            "type": "string",
            "nullable": true,
            "description": "First UTM term"
          },
          "last_utm_term": {
            "type": "string",
            "nullable": true,
            "description": "Last UTM term"
          },
          "first_paid_source": {
            "type": "string",
            "nullable": true,
            "description": "First-touch acquiring ad network (google, meta, microsoft, tiktok, twitter, linkedin, reddit, or paid_utm for pricing-medium UTMs with no click ID)"
          },
          "last_paid_source": {
            "type": "string",
            "nullable": true,
            "description": "Last-touch acquiring ad network (same value set as first_paid_source)"
          },
          "first_click_id": {
            "type": "string",
            "nullable": true,
            "description": "First-touch raw ad-platform click ID (gclid, fbclid, msclkid, ttclid, twclid, li_fat_id, or rdt_cid)"
          },
          "last_click_id": {
            "type": "string",
            "nullable": true,
            "description": "Last-touch raw ad-platform click ID"
          },
          "last_type": {
            "type": "string",
            "nullable": true,
            "description": "Last event type"
          },
          "last_event": {
            "type": "string",
            "nullable": true,
            "description": "Last event name"
          },
          "last_properties": {
            "type": "string",
            "nullable": true,
            "description": "Last event properties (JSON string)"
          },
          "activity_dates": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "nullable": true,
            "description": "Array of activity dates (YYYY-MM-DD format)"
          },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletChain"
            },
            "description": "Requires expand=chains"
          },
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletApp"
            },
            "description": "Requires expand=apps"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletToken"
            },
            "description": "Requires expand=tokens"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletLabel"
            },
            "description": "Requires expand=labels"
          }
        }
      },
      "EventContext": {
        "type": "object",
        "description": "Contextual information about the event environment",
        "properties": {
          "user_agent": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "description": "e.g. en-US"
          },
          "timezone": {
            "type": "string",
            "description": "e.g. America/New_York"
          },
          "page_url": {
            "type": "string"
          },
          "page_path": {
            "type": "string"
          },
          "page_title": {
            "type": "string"
          },
          "page_query": {
            "type": "string"
          },
          "page_hash": {
            "type": "string"
          },
          "referrer_url": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "device": {
            "type": "string",
            "enum": ["desktop", "mobile", "tablet"]
          },
          "os": {
            "type": "string"
          },
          "screen_width": {
            "type": "integer"
          },
          "screen_height": {
            "type": "integer"
          },
          "screen_density": {
            "type": "number",
            "description": "Pixel density of the device screen (devicePixelRatio)"
          },
          "viewport_width": {
            "type": "integer",
            "description": "Width of the browser viewport in pixels"
          },
          "viewport_height": {
            "type": "integer",
            "description": "Height of the browser viewport in pixels"
          },
          "location": {
            "type": "string",
            "description": "Geographic location country code (e.g., US, NG)"
          },
          "library_name": {
            "type": "string"
          },
          "library_version": {
            "type": "string"
          }
        }
      },
      "EventProperties": {
        "type": "object",
        "description": "Event-specific properties. Can contain any key-value pairs relevant to the event.",
        "additionalProperties": true
      },
      "Event": {
        "type": "object",
        "description": "A single analytics event",
        "required": ["type", "anonymous_id", "version", "channel"],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "page",
              "connect",
              "disconnect",
              "chain",
              "signature",
              "transaction",
              "track",
              "decoded_log",
              "detect",
              "identify"
            ]
          },
          "channel": {
            "type": "string",
            "enum": ["web", "mobile", "server", "api", "import"],
            "description": "Source of the event. The Formo Web SDK uses `web`; mobile SDK uses `mobile`; server SDK uses `server`. Use `api` for direct HTTP submissions and `import` for backfills."
          },
          "version": {
            "type": "string",
            "description": "SDK schema version. Web SDK 1.x emits `1`; legacy clients emit `0`.",
            "example": "1"
          },
          "anonymous_id": {
            "type": "string",
            "description": "Anonymous visitor identifier"
          },
          "user_id": {
            "type": "string",
            "nullable": true,
            "description": "Identified user ID"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Wallet address"
          },
          "event": {
            "type": "string",
            "nullable": true,
            "description": "Event name (for track events)"
          },
          "context": {
            "$ref": "#/components/schemas/EventContext"
          },
          "properties": {
            "$ref": "#/components/schemas/EventProperties"
          },
          "original_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "message_id": {
            "type": "string",
            "description": "Unique ID for deduplication. Optional; a UUID is generated server-side when omitted."
          }
        }
      },
      "WalletChain": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "net_worth_usd": {
            "type": "number"
          },
          "tx_count": {
            "type": "integer"
          },
          "first_onchain": {
            "type": "string"
          },
          "last_onchain": {
            "type": "string"
          }
        }
      },
      "WalletApp": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "img": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "balance_usd": {
            "type": "number"
          }
        }
      },
      "WalletToken": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "token_address": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "img": {
            "type": "string",
            "nullable": true
          },
          "decimals": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "balance": {
            "type": "string"
          },
          "balance_usd": {
            "type": "number"
          }
        }
      },
      "WalletLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "e.g. coinbase.verified_account"
          },
          "value": {
            "type": "string"
          },
          "chain_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "UserLabelInput": {
        "type": "object",
        "required": ["tag_id"],
        "properties": {
          "tag_id": {
            "type": "string",
            "description": "Label identifier (lowercased on write). e.g. vip, airdrop_eligible, coinbase.verified_account"
          },
          "value": {
            "type": "string",
            "description": "Optional label value (e.g. tier name, country code)"
          },
          "chain_id": {
            "type": "string",
            "description": "Optional chain identifier the label applies to"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Optional ISO-8601 event-time for the label. When provided, the label is recorded at this time instead of the server's current time; used to backfill historical values (e.g. an `open_interest` reading from a past week) so label-based retention can evaluate them at the right point in time. Must not be in the future. Defaults to server time when omitted."
          },
          "_is_deleted": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Optional tombstone flag for backfilled removals. `1` records the row as a soft-delete (label removed) instead of a live value; pair it with a past `timestamp` to express \"label removed at past time T\" so point-in-time retention drops the wallet from that week. The future-timestamp guard still applies. Defaults to `0` (a live label) when omitted."
          }
        }
      },
      "UserLabel": {
        "type": "object",
        "description": "Canonical user-label resource. Echoed back from upsert calls so callers can cache the normalised entry without a follow-up read.",
        "required": [
          "address",
          "tag_id",
          "value",
          "chain_id",
          "source",
          "timestamp"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "Wallet address the label applies to"
          },
          "tag_id": {
            "type": "string",
            "description": "Label identifier (lowercased + trimmed on write)"
          },
          "value": {
            "type": "string",
            "description": "Label value, empty string when omitted"
          },
          "chain_id": {
            "type": "string",
            "description": "Chain identifier, empty string when omitted"
          },
          "source": {
            "type": "string",
            "description": "Origin of the label (e.g. 'import')"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Event-time of the label: the caller-supplied `timestamp` when provided (retrospective backfill), otherwise the server's write time."
          }
        }
      },
      "UpdateUserPropertiesResponse": {
        "type": "object",
        "description": "Echo of the wallet identity after the merge-update applied. Synthesised from the request payload; analytics ingestion is eventually consistent, so the response reflects the applied write rather than a follow-up read.",
        "required": ["address", "updated_at"],
        "properties": {
          "address": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "farcaster": {
            "type": "string",
            "nullable": true
          },
          "discord": {
            "type": "string",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "nullable": true
          },
          "telegram": {
            "type": "string",
            "nullable": true
          },
          "instagram": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "github": {
            "type": "string",
            "nullable": true
          },
          "linkedin": {
            "type": "string",
            "nullable": true
          },
          "facebook": {
            "type": "string",
            "nullable": true
          },
          "tiktok": {
            "type": "string",
            "nullable": true
          },
          "youtube": {
            "type": "string",
            "nullable": true
          },
          "reddit": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "ens": {
            "type": "string",
            "nullable": true
          },
          "lens": {
            "type": "string",
            "nullable": true
          },
          "basenames": {
            "type": "string",
            "nullable": true
          },
          "linea": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BatchWriteResponse": {
        "type": "object",
        "description": "Acknowledgement for a batch write. `successful_rows` counts rows accepted and forwarded to ingest after a 2xx (ingestion is async/eventually-consistent; there is no follow-up read). `quarantined_rows` counts rows skipped for an invalid address or no valid keys; `errors` (omitted when nothing was quarantined) maps each skipped row back to its request index.",
        "required": ["successful_rows", "quarantined_rows"],
        "properties": {
          "successful_rows": {
            "type": "integer",
            "description": "Number of rows accepted and forwarded to ingest."
          },
          "quarantined_rows": {
            "type": "integer",
            "description": "Number of rows skipped (invalid address, or no valid keys)."
          },
          "errors": {
            "type": "array",
            "description": "One entry per quarantined row. Omitted when quarantined_rows is 0.",
            "items": {
              "type": "object",
              "required": ["index", "reason"],
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Zero-based index of the row in the request array."
                },
                "address": {
                  "type": "string",
                  "description": "The address as submitted, echoed back."
                },
                "reason": {
                  "type": "string",
                  "description": "Why the row was quarantined."
                }
              }
            }
          }
        }
      },
      "ProfileFilter": {
        "type": "object",
        "description": "A profile-search filter group. `filters` contains canonical `{field, op, value}` leaves and `logic` combines them at this level.",
        "properties": {
          "logic": {
            "type": "string",
            "enum": ["and", "or"],
            "default": "and"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterCondition"
            }
          }
        },
        "required": ["filters"]
      },
      "FilterCondition": {
        "type": "object",
        "additionalProperties": false,
        "required": ["field", "op"],
        "properties": {
          "field": {
            "type": "string",
            "description": "Stable profile filter field. User/profile/social fields use user.* or users.*. Resource metrics use chains.balance, apps.balance, tokens.balance, or labels.value; resource identifiers belong in named qualifier properties and must not be embedded in the field path."
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "gte",
              "lt",
              "lte",
              "in",
              "nin",
              "contains",
              "startsWith",
              "endsWith",
              "notEmpty",
              "isEmpty"
            ],
            "description": "Comparison operator. Only the canonical terse tokens (`eq`, `neq`, `gt`, `gte`, `lt`, `lte`, `in`, `nin`, `contains`, `startsWith`, `endsWith`, `notEmpty`, `isEmpty`) are accepted; the retired long-form spellings (`equals`, `notEquals`, `greater`, `greaterOrEqual`, `less`, `lessOrEqual`, `notIn`, `includes`) are rejected with a 400 naming the token. **Substring operators:** `contains`, `startsWith` and `endsWith` are supported on routable string user attributes (`users.device`, `users.os`, `users.referrer`, `users.utm_*`, `users.click_id`, and the `first_*`/`last_*` attribution variants), where they match **case-sensitively**. Social fields (e.g. `users.twitter`, `users.email`) additionally support `contains`, which matches **case-insensitively** there; `startsWith`/`endsWith` are rejected on social fields. `contains` is also supported on `labels.value` and matches case-insensitively; `startsWith` and `endsWith` remain unsupported on labels. All three substring operators are rejected on numeric, chain/app/token, and lifecycle fields. `notEmpty` (\"is not empty\" / \"is set\") is a string existence check for user string attributes (device/os/utm_*/referrer/…) and social fields; `isEmpty` (\"is empty\" / \"is not set\") is its complement, supported for user string attributes only (not social fields). Both ignore `value`. `users.lifecycle` supports only `eq` (a single stage) and `in` (a list of stages)."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              }
            ],
            "description": "Filter value (string, number, boolean, or non-empty array). Required for every operator except the existence checks `notEmpty` and `isEmpty`, which ignore it. Resource balance fields (`chains.balance`, `apps.balance`, and `tokens.balance`) require a JSON number; empty strings and numeric strings are rejected. `labels.value` also rejects an empty string operand."
          },
          "scope": {
            "type": "string",
            "enum": ["any", "protocol"],
            "description": "Required for tokens.balance: any includes wallet and protocol balances; protocol requires app_id."
          },
          "chain_id": {
            "type": "string",
            "minLength": 1,
            "description": "Optional chain qualifier. Omit to compare across all chains."
          },
          "app_id": {
            "type": "string",
            "minLength": 1,
            "description": "Required for apps.balance and for tokens.balance with scope=protocol."
          },
          "token_address": {
            "type": "string",
            "minLength": 1,
            "description": "Required token address for tokens.balance."
          },
          "tag_id": {
            "type": "string",
            "minLength": 1,
            "description": "Required label tag for labels.value."
          }
        }
      },
      "RestApiError": {
        "$ref": "#/components/schemas/Error",
        "description": "Deprecated alias for `Error`. Existing endpoint specs reference this name; new specs should reference `Error` directly."
      },
      "AnalyticsResponse": {
        "type": "object",
        "description": "Analytics endpoint response. The `data` array contains the rows; the exact row shape depends on the endpoint. `meta` carries column type information for rendering, `rows` is the row count, and `statistics` holds query timing metadata.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "meta": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "rows": {
            "type": "integer"
          },
          "rows_before_limit_at_least": {
            "type": "integer"
          },
          "statistics": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AlertFilter": {
        "type": "object",
        "description": "A project-alert trigger filter using the canonical envelope.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Column or property targeted by this filter."
          },
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "lt",
              "gte",
              "lte",
              "in",
              "nin",
              "startsWith",
              "endsWith",
              "contains",
              "notEmpty",
              "isEmpty"
            ],
            "description": "Canonical comparison operator token."
          },
          "value": {
            "type": "string"
          },
          "numericThreshold": {
            "type": "string"
          }
        },
        "required": ["field", "value"]
      },
      "SourceFilterCondition": {
        "type": "object",
        "description": "Filters the raw event source. `field` must be `source`.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Column or property targeted by this filter.",
            "enum": ["source"]
          },
          "op": {
            "type": "string",
            "enum": ["eq", "neq", "in", "nin"],
            "description": "Canonical comparison operator token."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Value to compare against. For `in` / `nin`, pass a non-empty array or a pipe-delimited string."
          }
        },
        "required": ["field", "op"]
      },
      "ChannelFilterCondition": {
        "type": "object",
        "description": "Filters the classified acquisition channel. `field` must be `channel_type`.",
        "properties": {
          "field": {
            "type": "string",
            "description": "Column or property targeted by this filter.",
            "enum": ["channel_type"]
          },
          "op": {
            "type": "string",
            "enum": ["eq", "neq", "in", "nin"],
            "description": "Canonical comparison operator token."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "pattern": "^[^|]*$"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Value to compare against. For `in` / `nin`, pass a non-empty array or a pipe-delimited string."
          }
        },
        "required": ["field", "op"]
      },
      "ChartSummary": {
        "type": "object",
        "required": [
          "id",
          "project_id",
          "board_id",
          "chart_type",
          "title",
          "position",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "board_id": {
            "type": "string"
          },
          "chart_type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": ["string", "null"]
          },
          "position": {
            "type": "integer",
            "description": "Display position of the chart on its board."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": ["string", "null"],
            "format": "date-time"
          }
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 255
        },
        "description": "Optional unique value (e.g. a UUID v4) that lets you safely retry POST/PUT/PATCH/DELETE requests. The first request runs normally; subsequent requests with the same key replay the stored response (status + body) for 24 hours, so retries can never double-create or double-charge. Two concurrent requests with the same key return `409 IDEMPOTENCY_IN_PROGRESS`. Generate a fresh key per logical operation."
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "1-indexed page number. Defaults to 1."
      },
      "Size": {
        "name": "size",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 100
        },
        "description": "Page size. Defaults to 100, capped at 200."
      },
      "AnalyticsDateFrom": {
        "name": "date_from",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Inclusive start date (YYYY-MM-DD). Defaults to 7 days before date_to."
      },
      "AnalyticsDateTo": {
        "name": "date_to",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "Inclusive end date (YYYY-MM-DD). Defaults to today."
      },
      "AnalyticsFilters": {
        "name": "filters",
        "in": "query",
        "description": "Array of filter conditions, JSON-encoded in the query string. Entries use `{ field, op, value }` and are combined with implicit AND. For example, filter traffic referred by Google with `[{\"field\":\"referrer\",\"op\":\"contains\",\"value\":\"google\"}]`, or filter a page with `[{\"field\":\"page\",\"op\":\"eq\",\"value\":\"/pricing\"}]`. For `in` / `nin`, pass a non-empty array value such as `[\"chrome\",\"firefox\"]` or a pipe-delimited string such as `\"chrome|firefox\"`. Array string members cannot contain a literal `|`, which is reserved as the Tinybird membership separator. Optional one-level nested `filters` use the same canonical envelope and membership rule. On the user-aggregate endpoints (lifecycle, frequency) the same array also carries profile-family entries: profile metrics (net_worth_usd, volume, revenue, points), social identity fields, a lifecycle entry ({\"field\":\"lifecycle\",\"op\":\"in\",\"value\":\"New|Power user\"}), and resource entries using the stable fields chains.balance, apps.balance, tokens.balance, and labels.value with named qualifier properties (chain_id, app_id, token_address, scope, tag_id). The retired per-family parameters (socials, chain_filters, app_filters, token_filters, label_filters, profile_filters, lifecycle_filter) are rejected.",
        "schema": {
          "type": "string"
        },
        "example": "[{\"field\":\"referrer\",\"op\":\"contains\",\"value\":\"google\"}]"
      },
      "AnalyticsPageScope": {
        "name": "page_scope",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": ["page", "session"],
          "default": "page"
        },
        "description": "Controls how a `page` filter is interpreted. `page` (default) scopes metrics to activity on the filtered page. On `/v0/kpis`, `pageviews` counts only views of the filtered page, while `bounce_rate` and `avg_session_sec` are entry-page metrics for sessions that landed there. `session` preserves the legacy session scope: metrics include all relevant activity in any session that viewed the page. `sessions` and `visitors` are unchanged between scopes. This parameter only affects requests that include a `page` filter. It is distinct from `/v0/top_pages` `mode`, which selects the all, entry, or exit page-flow view.",
        "example": "page"
      },
      "AnalyticsLimit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 1000
        },
        "description": "Maximum results to return (default 50, max 1000)"
      },
      "AnalyticsOffset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0,
          "maximum": 100000
        },
        "description": "Number of results to skip for pagination (default 0)"
      },
      "AnalyticsIncludePreviousPeriod": {
        "name": "include_previous_period",
        "in": "query",
        "schema": {
          "type": "boolean"
        },
        "description": "When `true`, returns both current and previous period metrics for week-over-week comparison. The previous period is non-overlapping and equal in length to the current range."
      },
      "LifecycleNewWindowDays": {
        "name": "new_window_days",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: a wallet is New if first seen within this many days of the reference date (default 30). Caller value wins over the project's saved setting."
      },
      "LifecycleChurnWindowDays": {
        "name": "churn_window_days",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: a wallet is Churned once last seen this many days before the reference date (default 30)."
      },
      "LifecyclePowerUserMinActiveDays": {
        "name": "power_user_min_active_days",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: distinct active days within the power-user window required to qualify as Power user (default 5)."
      },
      "LifecyclePowerUserWindowDays": {
        "name": "power_user_window_days",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: trailing window in which active days are counted for Power user qualification (default 30)."
      },
      "LifecycleResurrectedGapDays": {
        "name": "resurrected_gap_days",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: minimum inactivity gap that marks a re-engaging wallet as Resurrected (default 30)."
      },
      "LifecycleAtRiskMinDaysInactive": {
        "name": "at_risk_min_days_inactive",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: minimum days since last activity for an established, still-active wallet to be At Risk (default 14; must be < churn_window_days)."
      },
      "LifecycleAtRiskPriorActiveDaysThreshold": {
        "name": "at_risk_prior_active_days_threshold",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 90
        },
        "description": "Override: minimum active days a wallet had in the window before the recent quiet stretch to qualify as At Risk (default 1)."
      },
      "AnalyticsBehaviorFilters": {
        "name": "behavior_filters",
        "in": "query",
        "description": "JSON array filtering users by event-based behavior with counts and either an absolute date range or a window relative to the user's first event. Each entry is `{ event, op, times, date_from?, date_to?, event_type?, relative_to?, window? }`. When `relative_to: \"first_seen\"` is set, the matching events must occur within `window.value` `window.unit` (`hour` | `day`) after the user's first event; `date_from`/`date_to` are ignored. `event_type` narrows matching to a specific event-type column (`page`, `connect`, `disconnect`, `chain`, `signature`, `transaction`, `track`, `decoded_log`, `detect`, `identify`); for `track` and `decoded_log` the `event` field is the named identifier; for other types only the `type` column is matched.",
        "schema": {
          "type": "string"
        },
        "example": "[{\"event\":\"swap\",\"event_type\":\"track\",\"op\":\"gte\",\"times\":1,\"relative_to\":\"first_seen\",\"window\":{\"value\":24,\"unit\":\"hour\"}}]"
      },
      "AnalyticsSourceFilter": {
        "name": "source_filter",
        "in": "query",
        "description": "JSON array filtering users by raw event source. Entries use the canonical envelope and `field` must be `source`. Distinct from `channel_filter`, which matches the classified acquisition channel.",
        "schema": {
          "type": "string"
        },
        "example": "[{\"field\":\"source\",\"op\":\"in\",\"value\":\"web|mobile\"}]"
      },
      "AnalyticsChannelFilter": {
        "name": "channel_filter",
        "in": "query",
        "description": "JSON array filtering users by classified acquisition channel. Entries use the canonical envelope and `field` must be `channel_type`. Distinct from `source_filter`, which matches the raw SDK source.",
        "schema": {
          "type": "string"
        },
        "example": "[{\"field\":\"channel_type\",\"op\":\"in\",\"value\":\"Organic Search|Paid Social\"}]"
      },
      "AnalyticsExclude": {
        "name": "exclude",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of event types to exclude from results (e.g. `identify,detect`).",
        "example": "identify,detect"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request was rejected. `code` is either `INVALID_VALIDATION_REQUEST` (Zod schema mismatch; `details` carries a `{ fieldPath: message }` map) or `BAD_REQUEST` (semantic validation failure outside Zod, e.g. mismatched IDs, business-rule violations). Branch on `code`, not status, to tell the two apart.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "validation": {
                "summary": "Zod schema mismatch",
                "value": {
                  "error": {
                    "code": "INVALID_VALIDATION_REQUEST",
                    "message": "Invalid request data",
                    "doc_url": "https://docs.formo.so/api/errors#invalid_validation_request",
                    "details": {
                      "body.name": "String must contain at least 1 character(s)"
                    }
                  }
                }
              },
              "semantic": {
                "summary": "Semantic validation failure",
                "value": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "Target board must be different from the current board",
                    "doc_url": "https://docs.formo.so/api/errors#bad_request"
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid API key",
                "doc_url": "https://docs.formo.so/api/errors#unauthorized"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key is valid but lacks the required scope for this endpoint.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "FORBIDDEN",
                "message": "API key missing required scope: alerts:write",
                "doc_url": "https://docs.formo.so/api/errors#forbidden"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist or is not visible to this API key's workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Alert not found",
                "doc_url": "https://docs.formo.so/api/errors#not_found"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current resource state, or an `Idempotency-Key` request with the same key is currently in flight.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "IDEMPOTENCY_IN_PROGRESS",
                "message": "A request with this Idempotency-Key is already in progress. Retry shortly.",
                "doc_url": "https://docs.formo.so/api/errors#idempotency_in_progress"
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Per-workspace rate limit exceeded. Inspect the `RateLimit-*` response headers and back off.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "TOO_MANY_REQUESTS",
                "message": "Too many requests",
                "doc_url": "https://docs.formo.so/api/errors#too_many_requests"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An unexpected error occurred on the server. The error has been logged; retry with exponential backoff.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "INTERNAL_SERVER_ERROR",
                "message": "Internal Server Error",
                "doc_url": "https://docs.formo.so/api/errors#internal_server_error"
              }
            }
          }
        }
      }
    }
  },
  "x-api-scopes": {
    "description": "API key scopes control access to endpoints. Create keys with the required scopes in Team Settings > API.",
    "scopes": {
      "alerts:read": "List and get alerts",
      "alerts:write": "Create, update, delete alerts (requires alerts:read)",
      "boards:read": "List and get boards and charts",
      "boards:write": "Create, update, delete boards and charts (requires boards:read)",
      "contracts:read": "List contracts",
      "contracts:write": "Create, update, delete contracts (requires contracts:read)",
      "segments:read": "List segments",
      "segments:write": "Create and delete segments (requires segments:read)",
      "profiles:read": "Search and get wallet profiles",
      "profiles:write": "Update wallet properties, manage labels, and import addresses (requires profiles:read)",
      "query:read": "Execute SQL analytics queries and read pre-built analytics endpoints (KPIs, top pages, lifecycle, retention, revenue, etc.)"
    }
  },
  "paths": {
    "/v0/alerts": {
      "get": {
        "operationId": "listAlerts",
        "summary": "List alerts",
        "description": "List alerts for the project scoped to the API key. Paginated: see `page` and `size` query params; the response carries `total` and `has_more` so callers can walk pages.",
        "tags": ["Alerts"],
        "x-required-scope": "alerts:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Size"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedListMeta"
                    },
                    {
                      "type": "object",
                      "required": ["data"],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Alert"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "alrt_4f8e2c1a9b3d4e5f",
                      "project_id": "proj_abc123",
                      "name": "Daily revenue drop",
                      "trigger_type": "event",
                      "status": "active",
                      "trigger_filters": [
                        {
                          "value": "transaction",
                          "field": "event",
                          "op": "eq"
                        },
                        {
                          "value": "1000",
                          "numericThreshold": "sum",
                          "field": "revenue",
                          "op": "lt"
                        }
                      ],
                      "recipient": [
                        {
                          "type": "email",
                          "value": ["alerts@myapp.com"]
                        },
                        {
                          "type": "slack",
                          "value": ["C0123456789"]
                        }
                      ],
                      "has_secret": false,
                      "created_at": "2026-04-12T09:32:18.000Z",
                      "updated_at": "2026-04-25T14:01:55.000Z"
                    }
                  ],
                  "page": 1,
                  "size": 100,
                  "total": 1,
                  "has_more": false
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAlert",
        "summary": "Create alert",
        "description": "Create a new alert for the project.",
        "tags": ["Alerts"],
        "x-required-scope": "alerts:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "trigger_type": {
                    "type": "string",
                    "enum": ["event", "user"]
                  },
                  "trigger_filters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AlertFilter"
                    }
                  },
                  "recipient": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["email", "slack", "webhook"]
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "secret": {
                    "type": "string",
                    "description": "Webhook signing secret"
                  }
                },
                "required": ["name", "trigger_type", "trigger_filters"]
              },
              "examples": {
                "eventAlertWithWebhook": {
                  "summary": "Alert on swap events from mobile devices with webhook",
                  "value": {
                    "name": "Mobile swap alert",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "value": "swap",
                        "field": "type",
                        "op": "eq"
                      },
                      {
                        "value": "mobile",
                        "field": "device",
                        "op": "eq"
                      },
                      {
                        "value": "1000",
                        "numericThreshold": "1000",
                        "field": "volume",
                        "op": "gt"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "webhook",
                        "value": ["https://hooks.myapp.com/formo-alerts"]
                      },
                      {
                        "type": "email",
                        "value": ["alerts@myapp.com"]
                      }
                    ],
                    "secret": "whsec_mysigningsecret123"
                  }
                },
                "eventAlertWithUtmFilter": {
                  "summary": "Alert on events from specific UTM campaigns",
                  "value": {
                    "name": "Paid campaign activity",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "value": "purchase",
                        "field": "type"
                      },
                      {
                        "value": "google",
                        "field": "utm_source",
                        "op": "eq"
                      },
                      {
                        "value": "cpc",
                        "field": "utm_medium",
                        "op": "eq"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "slack",
                        "value": [
                          "#marketing-alerts|https://hooks.slack.com/services/T00/B00/xxx"
                        ]
                      }
                    ]
                  }
                },
                "userAlertWithLocationFilter": {
                  "summary": "Alert when new users spike from a specific country",
                  "value": {
                    "name": "US user spike",
                    "trigger_type": "user",
                    "trigger_filters": [
                      {
                        "value": "US",
                        "field": "location",
                        "op": "eq"
                      },
                      {
                        "value": "10000",
                        "numericThreshold": "10000",
                        "field": "net_worth_usd",
                        "op": "gte"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "email",
                        "value": ["team@myapp.com"]
                      }
                    ]
                  }
                },
                "eventAlertWithNumericThreshold": {
                  "summary": "Alert when users hold >5 tokens in a specific app",
                  "value": {
                    "name": "High token holder alert",
                    "trigger_type": "event",
                    "trigger_filters": [
                      {
                        "value": "uniswap",
                        "numericThreshold": "5",
                        "field": "apps",
                        "op": "gt"
                      },
                      {
                        "value": "1",
                        "numericThreshold": "3",
                        "field": "chains",
                        "op": "gte"
                      }
                    ],
                    "recipient": [
                      {
                        "type": "webhook",
                        "value": ["https://hooks.myapp.com/token-alerts"]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Alert created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      }
    },
    "/v0/alerts/{alertId}": {
      "get": {
        "operationId": "getAlert",
        "summary": "Get alert",
        "tags": ["Alerts"],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                },
                "example": {
                  "id": "alrt_4f8e2c1a9b3d4e5f",
                  "project_id": "proj_abc123",
                  "name": "Daily revenue drop",
                  "trigger_type": "event",
                  "status": "active",
                  "trigger_filters": [
                    {
                      "value": "transaction",
                      "field": "event",
                      "op": "eq"
                    },
                    {
                      "value": "1000",
                      "numericThreshold": "sum",
                      "field": "revenue",
                      "op": "lt"
                    }
                  ],
                  "recipient": [
                    {
                      "type": "email",
                      "value": ["alerts@myapp.com"]
                    },
                    {
                      "type": "slack",
                      "value": ["C0123456789"]
                    }
                  ],
                  "has_secret": false,
                  "created_at": "2026-04-12T09:32:18.000Z",
                  "updated_at": "2026-04-25T14:01:55.000Z"
                }
              }
            }
          }
        },
        "x-required-scope": "alerts:read"
      },
      "put": {
        "operationId": "updateAlert",
        "summary": "Update alert",
        "tags": ["Alerts"],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "trigger_type": {
                    "type": "string",
                    "enum": ["event", "user"]
                  },
                  "trigger_filters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AlertFilter"
                    }
                  },
[...]
